body {
//   background-color: wheat;
}

.page {
    display: flex;
}
.map-wrapper {
    position: relative;
    width: 600px;
    height: 600px;
}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

